<h1>Add contact</h1>

<form method="post" action="/contact">
  <div class="col-md-4">
    <label for="validationDefaultUsername" class="form-label">User Name</label>
    <div class="input-group">
      <input
        name="username"
        type="text"
        class="form-control"
        id="validationDefaultUsername"
        aria-describedby="inputGroupPrepend2"
        required
      />
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationDefaultEmail" class="form-label">Email</label>
    <div class="input-group">
      <input
        name="email"
        type="email"
        class="form-control"
        id="validationDefaultEmail"
        aria-describedby="inputGroupPrepend2"
        required
      />
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationDefaultMobile" class="form-label">Mobile</label>
    <div class="input-group">
      <input
        name="number"
        type="number"
        class="form-control"
        id="validationDefaultMobile"
        aria-describedby="inputGroupPrepend2"
      />
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
