<div class="card" style="width: 18rem">
  <div class="card-body">
    <h3 class="card-title"><%= user.name %></h3>

    <p class="card-text"><%= user.email %></p>
    <p class="card-text"><%= user.mobile %></p>
    <a href="/contact" class="card-link">back to contact</a>
  </div>
</div>
