<div class="card" style="width: 18rem">
  <div class="card-body">
    <h3 class="card-title"><%= user.name %></h3>

    <p class="card-text"><%= user.email %></p>
    <p class="card-text"><%= user.mobile %></p>
    <div class="d-flex justify-content-end align-items-center">
      <a href="/contact" class="card-link">back</a>
      <form action="/contact/<%= user.name %>" method="post">
        <input type="submit" value="delete" class="btn btn-danger" />
      </form>
    </div>
  </div>
</div>
